@define-color highlight #004799;

window#waybar {
    background: #1e1e1e;
    font-size: 14px;
    font-family: "Meslo LG S Nerd Font";
}

#workspaces button {
    padding: 0px 4px;
    border-radius: 0;
    font-weight: bold;
    font-size: 16px;
}

#workspaces button.focused {
    background: @highlight;
}

#workspaces button.urgent {
    background: #990047;
}

#battery.critical {
    color: #ff0000;
    font-weight: bold;
}

#battery, #network, #clock, #cpu, #memory, #custom-todoist, #custom-beeminder {
    margin: 0 10px;
    padding: 0 2px;
}

#custom-todoist.overdue {
    font-weight: bold;
    color: #ff0000;
}

#custom-todoist.today {
    color: #ffff00;
}

#custom-beeminder.beemergency {
    color: #ff0000;
}
